<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.10.1/devicon.min.css"/>
        <link rel="stylesheet" href="style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js" defer></script>
        <script src="https://kit.fontawesome.com/44a9d6cfa6.js" crossorigin="anonymous"></script>
        <script type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
        </script>
        <script type="text/javascript"> 
          (function(){
              emailjs.init("bcDvIPBdZwYGrFphI");
          })();
        </script>

        <script src="app.js" defer></script>
        <title>Portfolio | Jeremy Hutchings</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    </head>
    <body>
      <!-- NAV SECTION -->
      <header>
        <nav class="navbar">
          <a href="index.html" class="nav-name">Jeremy Hutchings</a>
          <ul class="nav-menu">
            <li class="nav-item"><a href="#" class="nav-link">Home <i class="fa-solid fa-house"></i></a></li>
            <li class="nav-item"><a href="#projects" class="nav-link">Projects <i class="fa-solid fa-diagram-project"></i></a></li>
            <li class="nav-item"><a href="#contact" class="nav-link">Contact <i class="fa-solid fa-message"></i></a></li>
            <li class="nav-item"><a href="data/Jeremy Hutchings Resume.pdf" class="nav-link">View Resume <i class="fa-solid fa-file"></i></a></li>
          </ul>
          <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </div>
        </nav>
      </header>
      <section class="hero-section">
        <div class="color-block">
          <div class="header-text">
            <div class="hello-text"><h1>Hey, I'm Jeremy Hutchings</h1></div>
            <p class="title">Software Engineering Student</p>
            <p class="title-text">
              Currently a student at Utah Tech University pursuing a bachelors
              of science in Software Engineering. I have some experience working with both front and back end
            </p>
            <div class="contact-container">
              <a href="#" class="hero-contact-btn">Contact Now</a>
            </div>
          </div>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
          <path
            fill="#000b76"
            fill-opacity="1"
            class="curve"
            d="M0,192L14.1,176C28.2,160,56,128,85,144C112.9,160,141,224,169,208C197.6,192,226,96,254,90.7C282.4,85,311,171,
            339,213.3C367.1,256,395,256,424,224C451.8,192,480,128,508,101.3C536.5,75,565,85,593,117.3C621.2,149,649,203,678,
            208C705.9,213,734,171,762,138.7C790.6,107,819,85,847,106.7C875.3,128,904,192,932,202.7C960,213,988,171,1016,
            170.7C1044.7,171,1073,213,1101,218.7C1129.4,224,1158,192,1186,192C1214.1,192,1242,224,1271,218.7C1298.8,213,
            1327,171,1355,160C1383.5,149,1412,171,1426,181.3L1440,192L1440,0L1425.9,0C1411.8,0,1384,0,1355,0C1327.1,0,1299,
            0,1271,0C1242.4,0,1214,0,1186,0C1157.6,0,1129,0,1101,0C1072.9,0,1045,0,1016,0C988.2,0,960,0,932,0C903.5,0,875,0,
            847,0C818.8,0,791,0,762,0C734.1,0,706,0,678,0C649.4,0,621,0,593,0C564.7,0,536,0,508,0C480,0,452,0,424,0C395.3,0,
            367,0,339,0C310.6,0,282,0,254,0C225.9,0,198,0,169,0C141.2,0,113,0,85,0C56.5,0,28,0,14,0L0,0Z"
          ></path>
        </svg>
      </section>
      <main>
        <section class="programming-languages">
          <h1>Programming Languages and Frameworks</h1>
          <div class="languages-container">
            <i class="devicon-python-plain-wordmark lang-icon"></i>
            <i class="devicon-mysql-plain-wordmark lang-icon"></i>
            <i class="devicon-javascript-plain lang-icon"></i>
            <i class="devicon-vuejs-plain-wordmark lang-icon vue-icon"></i>
            <i class="devicon-nodejs-plain-wordmark lang-icon"></i>
            <i class="devicon-mongodb-plain-wordmark lang-icon"></i>
        </div>
        </section>
        <div id="programming-languages-curve-container">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="programming-languages-curve"><path fill="white" fill-opacity="1" d="M0,160L11.4,138.7C22.9,
            117,46,75,69,74.7C91.4,75,114,117,137,144C160,171,183,181,206,165.3C228.6,149,251,107,274,106.7C297.1,107,320,149,343,138.7C365.7,128,389,64,411,37.3C434.3,11,457,
            21,480,58.7C502.9,96,526,160,549,186.7C571.4,213,594,203,617,176C640,149,663,107,686,80C708.6,53,731,43,754,48C777.1,53,800,75,823,96C845.7,117,869,139,891,
            133.3C914.3,128,937,96,960,90.7C982.9,85,1006,107,1029,117.3C1051.4,128,1074,128,1097,112C1120,96,1143,64,1166,53.3C1188.6,43,1211,53,1234,90.7C1257.1,128,1280,
            192,1303,197.3C1325.7,203,1349,149,1371,154.7C1394.3,160,1417,224,1429,256L1440,288L1440,0L1428.6,0C1417.1,0,1394,0,1371,0C1348.6,0,1326,0,1303,0C1280,0,1257,
            0,1234,0C1211.4,0,1189,0,1166,0C1142.9,0,1120,0,1097,0C1074.3,0,1051,0,1029,0C1005.7,0,983,0,960,0C937.1,0,914,0,891,0C868.6,0,846,0,823,0C800,0,777,0,754,
            0C731.4,0,709,0,686,0C662.9,0,640,0,617,0C594.3,0,571,0,549,0C525.7,0,503,0,480,0C457.1,0,434,0,411,0C388.6,0,366,0,343,0C320,0,297,0,274,0C251.4,0,229,0,
            206,0C182.9,0,160,0,137,0C114.3,0,91,0,69,0C45.7,0,23,0,11,0L0,0Z"></path></svg>
        </div>
        <section id="projects">
          <div id="app" v-cloak>
            <h1>Projects</h1>
            <v-app>
              <!-- Asteroids card -->
              <div class="d-flex flex-wrap card-small">
                <template>
                  <v-hover v-slot="{ hover }">
                    <v-card
                      class="mx-auto card-small"
                      max-width="600px"
                      min-width="350px"
                      :elevation="hover ? 12 : 2"
                    >
                      <v-img
                        src="./images/asteroids.gif"
                        height="400px"
                      ></v-img>
                  
                      <v-card-title :style="{ backgroundColor: '#FF7B5E', color: 'white' }">
                        Asteroids <i class="devicon-python-plain card-icon"></i>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <div
                        class="d-flex flex-column text-h6 white--text pa-8"
                        style="height: 100%;"
                        :style="{ backgroundColor: '#FF7B5E', color: 'white' }"
                        >
                          <span>This project is based on the game asteroids which I created in my CS-1410 class. The most imporant knowledge I gained from building
                          this game was a stronger understanding about the concepts of object oriented programming.</span>

                          <span class="pt-3 view-flex">
                            View on github 
                            <a href="https://github.com/jhutchings99/CS1410-Asteroids">
                              <i class="devicon-github-original card-icon"></i>
                            </a>
                          </span>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </template>

                <!-- address book card -->
                <template>
                  <v-hover v-slot="{ hover }">
                    <v-card
                      class="mx-auto card-small"
                      max-width="600px"
                      min-width="350px"
                      :elevation="hover ? 12 : 2"
                    >
                      <v-img
                        src="./images/gogas.png"
                        height="400px"
                      ></v-img>
                  
                      <v-card-title :style="{ backgroundColor: '#FF7B5E', color: 'white' }">
                        Go Gas <i class="devicon-vuejs-plain card-icon"></i><i class="devicon-nodejs-plain card-icon"></i><i class="devicon-mongodb-plain card-icon"></i>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <div
                        class="d-flex flex-column text-h6 white--text pa-8"
                        style="height: 100%;"
                        :style="{ backgroundColor: '#FF7B5E', color: 'white' }"
                        >
                          <span>I created this project while attending Code School which was a highly competitive program at Utah Tech University during summer 2022.
                            This was my final project for Code School 2022 which was presented to multiple local companies in St. George, Utah. I had three other group
                          members and this was my first experience programming in a group</span>

                          <span class="pt-3 view-flex">
                            View on github 
                            <a href="https://github.com/jhutchings99/codeschool_address_book_2022">
                              <i class="devicon-github-original card-icon"></i>
                            </a>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </template>

                <!-- Frogger card -->
                <template>
                  <v-hover v-slot="{ hover }">
                    <v-card
                      class="mx-auto card-small"
                      max-width="600px"
                      min-width="350px"
                      :elevation="hover ? 12 : 2"
                    >
                      <v-img
                        src="./images/frogger.gif"
                        height="400px"
                      ></v-img>
                  
                      <v-card-title :style="{ backgroundColor: '#FF7B5E', color: 'white' }">
                        Frogger <i class="devicon-python-plain card-icon"></i>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <div
                        class="d-flex flex-column text-h6 white--text pa-8"
                        style="height: 100%;"
                        :style="{ backgroundColor: '#FF7B5E', color: 'white' }"
                        >
                        <span>This project is based on the game frogger which I created in my CS-1410 class. This was the first ever project I made using PyGame and also
                          the first project where I had to implement objects with inheritence and movement.
                        </span>

                        <span class="pt-3 view-flex">
                          View on github 
                          <a href="https://github.com/jhutchings99/CS1410-Frogger">
                            <i class="devicon-github-original card-icon"></i>
                          </a>
                        </span>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </template>

                <!-- address book card -->
                <template>
                  <v-hover v-slot="{ hover }">
                    <v-card
                      class="mx-auto card-small"
                      max-width="600px"
                      min-width="350px"
                      :elevation="hover ? 12 : 2"
                    >
                      <v-img
                        src="./images/addressbook.png"
                        height="400px"
                      ></v-img>
                  
                      <v-card-title :style="{ backgroundColor: '#FF7B5E', color: 'white' }">
                        Address Book <i class="devicon-vuejs-plain card-icon"></i><i class="devicon-nodejs-plain card-icon"></i><i class="devicon-mongodb-plain card-icon"></i>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <div
                        class="d-flex flex-column text-h6 white--text pa-8"
                        style="height: 100%;"
                        :style="{ backgroundColor: '#FF7B5E', color: 'white' }"
                        >
                          <span>I created this project while attending Code School which was a highly competitive program at Utah Tech University during summer 2022.
                            During the creation of this project I added websockets to update across instances.</span>

                          <span class="pt-3 view-flex">
                            View on github 
                            <a href="https://github.com/jhutchings99/codeschool_address_book_2022">
                              <i class="devicon-github-original card-icon"></i>
                            </a>
                            View online
                            <a href="https://codeschool-2022-addressbook.herokuapp.com/">
                              <i class="devicon-heroku-original card-icon"></i>
                            </a>
                          </span>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </template>

                <!-- Webstore card -->
                <template>
                  <v-hover v-slot="{ hover }">
                    <v-card
                      class="mx-auto card-small"
                      max-width="600px"
                      min-width="350px"
                      :elevation="hover ? 12 : 2"
                    >
                      <v-img
                        src="./images/webstore.png"
                        height="400px"
                      ></v-img>
                  
                      <v-card-title :style="{ backgroundColor: '#FF7B5E', color: 'white' }">
                        Webstore <i class="devicon-vuejs-plain card-icon"></i>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <div
                        class="d-flex flex-column text-h6 white--text pa-8"
                        style="height: 100%;"
                        :style="{ backgroundColor: '#FF7B5E', color: 'white' }"
                        >
                          <span>I created this project while attending Code School which was a highly competitive program at Utah Tech University during summer 2022.
                            To create this I accessed an API and build a UI based on the API content. Some of the features include adding and removing items from the cart and
                            a search feature
                          </span>

                          <span class="pt-3 view-flex">
                            View on github 
                            <a href="https://github.com/jhutchings99/codeschool_webstore_2022">
                              <i class="devicon-github-original card-icon"></i>
                            </a>
                          </span>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </template>

                <!-- address book card -->
                <template>
                  <v-hover v-slot="{ hover }">
                    <v-card
                      class="mx-auto card-small"
                      max-width="600px"
                      min-width="350px"
                      :elevation="hover ? 12 : 2"
                    >
                      <v-img
                        src="./images/worldclone.png"
                        height="400px"
                      ></v-img>
                  
                      <v-card-title :style="{ backgroundColor: '#FF7B5E', color: 'white' }">
                        Wordle Clone <i class="devicon-javascript-plain card-icon"></i>
                      </v-card-title>
                      <v-divider></v-divider>
                      <v-card-text>
                        <div
                        class="d-flex flex-column text-h6 white--text pa-8"
                        style="height: 100%;"
                        :style="{ backgroundColor: '#FF7B5E', color: 'white' }"
                        >
                          <span>I created this project while attending Code School which was a highly competitive program at Utah Tech University during summer 2022.
                            This project was my first real project in JavaScript and my first time connecting with and using an API and it's endpoints to randomly
                            choose a word for the user to guess.</span>

                          <span class="pt-3 view-flex">
                            View on github 
                            <a href="https://github.com/jhutchings99/Code-School-2022/tree/main/Week%202%20JavaScript/wordle">
                              <i class="devicon-github-original card-icon"></i>
                            </a>
                          </span>
                        </div>
                      </v-card-text>
                    </v-card>
                  </v-hover>
                </template>
              </div>
            </v-app>
          </div>
          <div id="projects-curve-container">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" class="projects-curve"><path fill="#d1d1d1" fill-opacity="1" d="M0,32L11.4,69.3C22.9,107,46,181,69,192C91.4,
              203,114,149,137,138.7C160,128,183,160,206,149.3C228.6,139,251,85,274,80C297.1,75,320,117,343,138.7C365.7,160,389,160,411,160C434.3,160,457,160,480,
              133.3C502.9,107,526,53,549,69.3C571.4,85,594,171,617,170.7C640,171,663,85,686,64C708.6,43,731,85,754,90.7C777.1,96,800,64,823,69.3C845.7,75,869,117,
              891,133.3C914.3,149,937,139,960,160C982.9,181,1006,235,1029,224C1051.4,213,1074,139,1097,112C1120,85,1143,107,1166,138.7C1188.6,171,1211,213,1234,
              197.3C1257.1,181,1280,107,1303,112C1325.7,117,1349,203,1371,218.7C1394.3,235,1417,181,1429,154.7L1440,128L1440,0L1428.6,0C1417.1,0,1394,0,1371,
              0C1348.6,0,1326,0,1303,0C1280,0,1257,0,1234,0C1211.4,0,1189,0,1166,0C1142.9,0,1120,0,1097,0C1074.3,0,1051,0,1029,0C1005.7,0,983,0,960,0C937.1,0,914,
              0,891,0C868.6,0,846,0,823,0C800,0,777,0,754,0C731.4,0,709,0,686,0C662.9,0,640,0,617,0C594.3,0,571,0,549,0C525.7,0,503,0,480,0C457.1,0,434,0,411,
              0C388.6,0,366,0,343,0C320,0,297,0,274,0C251.4,0,229,0,206,0C182.9,0,160,0,137,0C114.3,0,91,0,69,0C45.7,0,23,0,11,0L0,0Z"></path></svg>
          </div>
        </section>
        <section id="contact">
          <div id="app2">
            <v-app :style="{ background: '#000B76', height: '100%' }">
              <template>
                <v-card class="ma-auto pa-12 mx-auto" min-width="70vw" elevation="5">
                  <span class="d-flex justify-center contact-span">Contact</span>
                  <v-divider></v-divider>
                  <v-form
                    ref="form"
                    v-model="valid"
                    lazy-validation
                    ref="form"
                  >
                    <v-text-field
                      v-model="name"
                      :rules="nameRules"
                      label="Name*"
                      required
                      color="#000B76"
                    ></v-text-field>
                
                    <v-text-field
                      v-model="email"
                      :rules="emailRules"
                      label="E-mail*"
                      required
                      color="#000B76"
                    ></v-text-field>

                    <v-text-field
                    v-model="subject"
                    :rules="subjectRules"
                    label="Subject*"
                    required
                    color="#000B76"
                  ></v-text-field>

                    <v-textarea
                    v-model="message"
                    :rules="messageRules"
                    label="Message*"
                    auto-grow
                    required
                    color="#000B76"
                  ></v-textarea>
                
                    <v-btn
                      :disabled="!valid || this.name == '' || this.email == '' || this.subject == '' || this.message == ''"
                      color="#FF7B5E"
                      class="mr-4 white--text"
                      @click="validate(), sendEmail()"
                    >
                      Submit
                    </v-btn>
                  </v-form>
                </v-card>
              </template>
            </v-app>
          </div>
      </section>
      </main>
    </body>
</html>