@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: none;
} */

.cursor {
  width: 36px;
  height: 36px;
  border: 3px solid #fd774b;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: all 100ms ease;
  transition-property: opacity, background-color, transform;
  pointer-events: none;
  z-index: 999;
  box-shadow:
    0 0 50px #fd774b,
    0 0 150px #fd774b;
}

html,
body {
  cursor: none;
}
html *,
body * {
  cursor: none;
}
.c--hidden {
  opacity: 0;
}

.c--clicked {
  transform: translate(-50%, -50%) scale(0.5) !important;
}

.c--hovered {
  transform: translate(-50%, -50%) scale(1.5);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinning {
  animation: spin 500s linear infinite;
}

html,
body {
  overflow-x: hidden;
}
