@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  cursor: none;
} */

.cursor {
  width: 36px;
  height: 36px;
  border: 3px solid #fd774b;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: all 100ms ease;
  transition-property: opacity, background-color, transform;
  pointer-events: none;
}

html,
body {
  cursor: none;
}
html *,
body * {
  cursor: none;
}
.c--hidden {
  opacity: 0;
}

.c--clicked {
  transform: translate(-50%, -50%) scale(0.5);
}

.c--hovered {
  transform: translate(-50%, -50%) scale(1.5);
}
